name: Deploy on Server

on:
  push:
    branches: [ "main" ]
    paths:
      - app/backend/**

jobs:
  ssh-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH Remote Commands to Deploy Backend
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu/linkchain-web/app/backend            
            git pull origin main
            
            COMMIT_HASH=$(git rev-parse --short HEAD)
            
            sudo docker build --no-cache \
              -t linkchain-backend-image:$COMMIT_HASH \
              -t linkchain-backend-image:latest \
              -f ./Dockerfile .

            sudo docker stop fastapi-server || true
            sudo docker rm fastapi-server || true

            sudo docker run -d \
              --name fastapi-server \
              -p 8000:80 \
              --restart unless-stopped \
              linkchain-backend-image:latest
            
            sudo docker image prune -f
